<launch>
  <node pkg="nodelet"
    type="nodelet"
    name="standalone_nodelet"
    args="manager"
    output="screen"/>

  <node pkg="nodelet"
    type="nodelet"
    name="quad_encode_msg"
    args="load quad_encode_msg/QuadEncodeMsg standalone_nodelet"
    output="screen">
    <remap from="~so3_cmd" to="so3_cmd"/>
    <remap from="~serial_msg" to="quad_serial_comm/to_robot"/>
  </node>

  <node pkg="nodelet"
    type="nodelet"
    name="quad_decode_msg"
    args="load quad_decode_msg/QuadDecodeMsg standalone_nodelet"
    output="screen">
    <remap from="~serial" to="quad_serial_comm/from_robot"/>
	</node>

  <node pkg="nodelet"
    type="nodelet"
    name="quad_serial_comm"
    args="load quad_serial_comm/QuadSerialComm standalone_nodelet"
    output="screen">
    <param name="device" value="/dev/ttyO0"/>
    <param name="baud_rate" value="57600"/>
  </node>
</launch>
