<launch>
<node pkg="nodelet"
type="nodelet"
name="quad_encode_msg"
args="standalone quad_encode_msg/QuadEncodeMsg"
output="screen">
<remap from="~so3_cmd" to="so3_cmd"/>
<remap from="~serial_msg" to="hotel/quad_serial_comm/to_robot"/>
</node>

<node pkg="nodelet"
type="nodelet"
name="quad_decode_msg"
args="standalone quad_decode_msg/QuadDecodeMsg"
output="screen">
<remap from="~serial" to="/hotel/quad_serial_comm/from_robot"/>
</node>


<node pkg="se3control"
type="se3control_standalone"
name="se3control_standalone"
output="screen">
<remap from="~so3_cmd" to="so3_cmd"/>
<remap from="~odom" to="/Hotel/px4flow/odom"/>
</node>

<node pkg="se3control"
type="trajectory_standalone"
name="trajectory_standalone"
output="screen">
<remap from="/cmd" to="/cmd"/>
<remap from="/rc" to="/quad_decode_msg/output_data"/>
</node>

</launch>
