<launch>
<group ns="hotel">
    <node pkg="nodelet"
      type="nodelet"
      name="quad_serial_comm"
      args="standalone quad_serial_comm/QuadSerialComm"
      output="screen">
      <param name="device" value="/dev/ttyO0"/>
      <param name="baud_rate" value="230400"/>
    </node>
  </group>
   
 <node name="px4flow" pkg="px4flow_node" type="px4flow_node" output="screen" respawn="true" clear_params="true">
        <rosparam file="$(find px4flow_node)/launch/px4flow_parameters.yaml"/>
    </node>

<node pkg="sonar" type="sonar" name="sonar" output="screen">
</node>

<node pkg="nodelet"
    type="nodelet"
    name="adns3080"
    args="standalone adns3080/ADNS3080"
    output="screen">
    <param name="output_rate" value="10"/>
  </node>


</launch>
